body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url("../src/images/background_img.png");
}

h1 {
  color: white;
  text-align: center;
}
.quote{
 margin-top: 270px;
 margin-left: 20px;
 color: white;
 width : 50%;
 font-size: 70px;
}

.btn{
  width: 25%;
  font-size: 20px;
  background-color: #68b2ff;
  color: white;
  border-radius: 15px;
  margin-top: 40px;
  cursor: pointer;
}